In [5]:
# 입력값이 없고 결과값만 있는 함수
def say():
    return 'HI'

a = say()
print(a)

HI

In [6]:
# 입력값은 있고 결과값이 없는 함수
# 결과값은 오직 return 명령어로만 돌려 받을 수 있음
def add(a,b):
    print('%d, %d의 합은 %d입니다.' %(a,b,a+b))
add(3,4)

3, 4의 합은 7입니다.

In [7]:
# 입력값도 결과값도 없는 함수

def say():
    print('Hi')
    
say()

Hi

In [12]:
# 입력값, 결과값이 모두 있는 함수
def max(a,b,c):
    if a>b:
        if a>c:
            return a
        elif a<c:
            return c
    if a<b:
        if b>c:
            return b
        else:
            return c

# print("가장 큰 수는 %d입니다." %(max(20,1,30)))
max(10,20,30)

30

In [16]:
def math(x, y, z):
    if z == '*':
        return x*y
    elif z== '/':
        return x/y
    elif z== '+':
        return x+y
    elif z== '%':
        return x%y
    elif z== '^':
        return x**y
    elif z== '-':
        return x-y
    elif z== '//':
        return x//y
    else:
        return

# print(math(int(input("숫자1 : ")), int(input("숫자2 : ")), input("기호 : ")))
math(10,2,'//')

5

In [18]:
def com(a,b):
    if a>b:
        return f'{a} bigger than {b}'
    elif a<b:
        return f'{a} smaller than {b}'
    else:
        return f'{a} equal {b}'
com(3,3)

'3 equal 3'

In [22]:
# 여러 개의 입력값을 받는 함수 만들기
# *args 처럼 입력 변수명 앞에 *를 붙이면 입력값들을 전부 모아서 튜플로 만들어 줌

def add_many(*args):
    add = 0
    for i in args:
        add += i
    return add

add_many(1,2,3,4,5,6,7,8,9,10)

55

In [23]:
# 함수의 반환 값은 언제나 하나임 - 결과 값으로 튜플 값 하나를 갖게 됨
def add_and_mul(a,b):
    return a+b, a*b

result = add_and_mul(3,4)
print(result)

(7, 12)

In [ ]:
# add_mul() 함수를 정의하여 1,2,3,4,5를 입력 값으로 적용하여 덧셈,곱셈 연산을 수행하세요.
def add_mul(choice, *args):
    
    
add_mul('add', 1,2,3,4,5)

In [29]:
def add_mul(choice, *args):
    if choice == '+':
        result = 0
        for i in args:
            result += i
        return result
    elif choice == '*':
        result = 1
        for i in args:
            result *= i
        return result
    else :
        print('수행할 수 없는 연산입니다.')

add_mul('*',1,2,3,4,5)
add_mul('+',1,2,3,4,5)

15

In [ ]:
# [과제] 뻴셈, 나눗셈 멀티 계산 함수를 작성
# ('sub', 2,4,6,8,10)
# ('div', 2,4,6,8,10)